
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.font-pixel { font-family: 'Press Start 2P', cursive; }
html, body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.arcade-border {
    border: 4px solid #34D399;
    padding: 20px;
    box-shadow: 0 0 15px #34D399, inset 0 0 10px #34D399;
}

.figure {
    position: relative;
    overflow: hidden;
}

.figure img {
    display: block;
    width: 100%;
    height: auto;

}

.figure img.image-main {
    position: relative;
    opacity: 1;
}

.figure img.image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

.figure:hover img.image-main {
    opacity: 0;
}

.figure:hover img.image-hover {
    opacity: 1;
}


.figure_stick {
    position: relative;
    overflow: hidden;
}

.figure_stick img {
    display: block;
    width: 100%;
    height: auto;

}

.figure_stick img.image-main {
    position: relative;
    opacity: 1;
}

.figure_stick img.image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

.figure_stick:hover img.image-main {
    opacity: 0;
}

.figure_stick:hover img.image-hover {
    opacity: 1;
}