<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        .font-pixel { font-family: 'Press Start 2P', cursive; }
    </style>
</head>
<body class="bg-black text-green-400 font-pixel flex flex-col items-center">
<div class="absolute top-0 left-0 m-4">
    <a href="/plumber" class="bg-green-400 text-black px-4 py-2 rounded hover:bg-green-500 transition-colors duration-300">
        &#8592; Back
    </a>
</div>

<h1 class="text-3xl mt-16">Hall of Fame</h1>
<div class="w-11/12 md:w-10/12 lg:w-9/12 xl:w-8/12 mx-auto p-4 bg-gray-900 rounded-lg shadow">
    <div th:each="score : ${@scoreService.getTopScores('Plumber')}" class="p-3 m-2 bg-gray-700 rounded">
        <h4 class="text-lg" th:text="${score.player}"></h4>
        <h4 class="text-lg" th:text="${score.points}"></h4>
        <p th:text="${score.playedOn }"></p>
        <p>
            <span>Time:</span>
            <span th:text="${T(java.lang.String).format('%02d:%02d', score.time div 60, score.time mod 60)}"></span>
            <span> sec</span>
        </p>
    </div>
</div>
</body>
</html>
